<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`, {pageTitle: 'Home'}); -%>
<body>
    <%- include(`${partials}/menu`); -%>

    <div class="homepage" id="main-logo-container">
        <a href="<%= PP %>">
            <img class="main-logo" src="<%= PP %>images/logos/myocortex_logo_black.svg" alt="MYOCORTEX full logo">
        </a>
    </div>

    <section class="above-the-fold">
        <div class="homepage-hero-module">
            <div class="video-container">
                <video class="fillWidth" autoplay loop poster="<%= PP %>images/backgrounds/homepage-video-poster.jpg">
                    <source src="<%= PP %>videos/homepage-background.mp4" type="video/mp4">
                    Your browser does not support the video tag. I suggest you upgrade your browser.
                </video>
                <div class="poster"></div>
            </div>
        </div>
        <div class="filter"></div>
        <div class="container">
            <div class="intro-text">
                <h4>break barriers.<br>redefine your results.</h4>
                <img class="mcx" src="<%= PP %>images/logos/mcx-with-black-TM.png" alt="MYOCORTEX MCX logo">
            </div>
            <span class="down-arrow"><i class="fa fa-angle-down" aria-hidden="true"></i></span></div>
        <h6 class="large-statement">respect</h6>
    </section>

    <section class="process" id="process">
        <div id="particles-js"></div>
        <h2 class="title">the<br>process</h2>
        <div class="container left-right">
            <div class="left three-women" id="three-women">
                <img class="woman1" src="<%= PP %>images/people/woman1.png" alt="woman stretching">
                <img class="woman2" src="<%= PP %>images/people/woman2.png" alt="woman running">
                <img class="woman3" src="<%= PP %>images/people/woman3.png" alt="woman running">
            </div>
            <div class="right">
                <div class="content">
                    <div class="mission-statement">
                        <p class="appear">Our Mission is to train muscles, not motions. MYOCORTEX is committed to strengthening the neuromuscular system with controlled movement and isometric exercises. Our goal is to build a healthy foundation while limiting breakdowns, pain and injuries.</p>
                    </div>
                    <div class="buttons-container">
                        <a class="btn appear" href="<%= PP %>private-training">Private Training </a>
                        <a class="btn appear" href="<%= PP %>group-training">Group Training </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="homepage cta" id="cta">
        <div class="filter"></div>
        <h2 class="title">commit to excellence</h2>
        <div class="text">
            <a class="btn appear" href="<%= PP %>sign-up">Continue</a>
            <img class="logo" src="<%= PP %>images/logos/mcx-contrast-dark.png">
        </div>
    </section>

    <%- include(`${partials}/footer`, {classNames: ''}); -%>
    <%- include(`${partials}/bottom`); -%>
</body>
</html>
