<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`, {pageTitle: 'Private Training'}); -%>
<body>
    <%- include(`${partials}/menu`); -%>

    <div class="private-training" id="main-logo-container">
        <a href="<%= PP %>">
            <img class="main-logo" src="<%= PP %>images/logos/myocortex_logo_white.svg" alt="MYOCORTEX full logo">
        </a>
    </div>

    <section class="private-training top">
        <div class="content">
            <div class="intro-text">
                <img src="<%= PP %>images/logos/mcx-with-white-TM.png" alt="MYOCORTEX MCX logo" class="mcx" />
                <h1 class="page-title">Private<br/>Training </h1>
            </div>
            <div class="tabs-container-outer">
                <div class="tabs-container-inner">
                    <a href="<%= PP %>analysis" class="tab appear">
                        <img src="<%= PP %>images/icons/analysis-icon.svg" alt="analysis icon" class="icon"/>
                        <h4 class="tab-title">analysis</h4>
                    </a>
                    <a href="<%= PP %>systems" class="tab appear delay-200">
                        <img src="<%= PP %>images/icons/systems-icon.svg" alt="analysis icon" class="icon"/>
                        <h4 class="tab-title">systems</h4>
                    </a>
                    <a href="<%= PP %>tools" class="tab appear delay-400">
                        <img src="<%= PP %>images/icons/tools-icon.svg" alt="analysis icon" class="icon"/>
                        <h4 class="tab-title">tools</h4>
                    </a>
              </div>
            </div>
        </div>
    </section>
    <section class="private-training cta">
        <div class="filter"></div>
        <div class="content">
            <h3 class="appear">Take Your Training to the Next Level</h3>
            <p class="appear delay-200">We are an elite Strength and Conditioning platform that offers one-on-one, tandem and  semi-private training.</p>
            <p class="appear delay-400">Our coaches prescribe and develop effective goal driven training programs designed to optimize your endurance, strength and performance while improving your overall physical well-being. These proactive specific training regimens build resilience and flexibility while mitigating injury risk.</p>
        </div>
        <div class="text">
            <h4 class="appear">Get Started</h4><a href="<%= PP %>sign-up" class="btn appear learn-more-btn">Sign Up</a><img src="<%= PP %>images/logos/mcx-contrast-dark.png" class="logo" />
        </div>
    </section>

    <%- include(`${partials}/footer`, {classNames: ''}); -%>
    <%- include(`${partials}/bottom`); -%>
</body>
</html>
