<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`, {pageTitle: 'Systems'}); -%>
<body>
    <%- include(`${partials}/menu`); -%>

    <div class="systems" id="main-logo-container">
        <a href="<%= PP %>/">
            <img class="main-logo" src="<%= PP %>/images/logos/myocortex_logo_white.svg" alt="MYOCORTEX full logo">
        </a>
    </div>

    <section class="systems top">
        <div class="container">
            <div class="intro-text">
                <img src="<%= PP %>/images/logos/mcx-with-white-TM.png" alt="MYOCORTEX MCX logo" class="mcx" />
                <h1 class="page-title">Systems</h1>
            </div>
        </div>
    </section>
    <section class="systems MAT"><img src="<%= PP %>/images/people/golfer-color.jpg" alt="golfer" class="golfer" />
        <div class="container">
            <div class="split-2">
                <div class="split-box"></div>
                <div class="text split-box appear">
                    <h3>Muscle Activiation Techniques<sup><small>TM</small></sup></h3>
                    <hr/>
                    <p>MAT (<a target="_blank" rel="noopnener" href="http://muscleactivation.com/">Muscle Activiation Techniques</a><sup><small>TM</small></sup>) is a systematic approach to evaluate, treat and test muscle contraction. It was founded on the principle that normal movement is fundamental to human health and that a muscle’s ability to contract efficiently is important for functional exercise. Any loss of muscle contraction may be demonstrated as a loss of motion and decreased physical performance, which may lead to pain and/or the loss of physical capabilities.</p>
                    <p>The human body is designed to be symmetrical. Comparing left to right motion evaluates an individual's muscle contractile capability. If asymmetry is determined then we use precise forces applied to restore and re-activate muscle efficiency. MAT is a mechanical study of functional movement.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="systems exercise-experience">
        <div class="container">
            <div class="split-2">
                <div class="text split-box appear">
                    <div class="border"></div>
                    <h3>The Exercise Experience<sup><small>TM</small></sup> <a target="_blank" rel="noopener" href="http://www.resistancetrainingspecialist.com/">(RTS)</a></h3>
                    <div class="equation">
                        <div class="left"><span>Ex =&nbsp;</span></div>
                        <div class="right"><span class="top">P/(M × J) + R/S + I/E + T/F</span><span class="bottom">A</span></div>
                    </div>
                    <p>Exercise is about forces; internal force production in response to external force application to produce a desired outcome. Exercise is a process; stimulating the appropriate level of contraction determined by your current status and goal. Exercise is a continual investigation; strategically manipulating range, movement pattern, or strength-resistance relationship™ to orchestrate a focused challenge altering the level of difficulty.</p>
                    <p>Clients Can Expect:</p>
                    <ul>
                        <li>A Client-Defined Exercise Routine</li>
                        <li>Increase and/or maintain specific force generated strengths</li>
                        <li>Optimize muscular endurance</li>
                        <li>Stop, reverse, slow down the degenerative joint, musculoskeletal, and neuromuscular processes</li>
                        <li>Facilitate efficient and effective training</li>
                        <li>Deliver results while decreasing risk of injury and limit breakdowns</li>
                        <li>Promote overall health without pain</li>
                    </ul>
                </div>
                <div class="split-box"></div>
            </div>
        </div><img src="<%= PP %>/images/people/kneeling-stretch.png" alt="anatomy" class="guy" />
    </section>
    <section class="systems cta">
        <div class="text">
            <h4 class="appear">our tools</h4><a href="<%= PP %>/tools" class="btn appear learn-more-btn">learn more</a><img src="<%= PP %>/images/logos/mcx-contrast-dark.png" class="logo" />
        </div>
    </section>

    <%- include(`${partials}/footer`, {classNames: ''}); -%>
    <%- include(`${partials}/scripts`); -%>
</body>
</html>
