<div id="menu-button">
    <span></span>
    <span></span>
    <span></span>
</div>

<div id="menu-container">
    <div class="overlay"></div>
    <div class="menu">
        <div class="title"></div>
        <div class="links-container">
            <a href="<%= PP %>/">Home</a>
            <a href="<%= PP %>/private-training">Private Training</a>
            <a href="<%= PP %>/peoples-combine">People's Combine</a>
            <a href="<%= PP %>/analysis">Analysis</a>
            <a href="<%= PP %>/systems">Systems</a>
            <a href="<%= PP %>/tools">Tools</a>
            <a href="<%= PP %>/sign-up">Sign-up</a>
        </div>
        <div class="social-media">
            <a target="_blank" rel="noopener" href="https://www.facebook.com/MYOCORTEX/" title="MYOCORTEX Facebook">
                <i class="fab fa-facebook-square"></i>
            </a>
            <a target="_blank" rel="noopener" href="https://www.instagram.com/myocortex/" title="MYOCORTEX Instagram">
                <i class="fab fa-instagram"></i>
            </a>
            <a target="_blank" rel="noopener" href="https://twitter.com/myocortex" title="MYOCORTEX Twitter">
                <i class="fab fa-twitter-square"></i>
            </a>
        </div>
    </div>
</div>
