<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`, {pageTitle: 'NFL Combine | Pro Day'}); -%>
<body>
    <%- include(`${partials}/menu`); -%>

    <div class="nfl-combine-pro-day" id="main-logo-container">
        <a href="<%= PP %>">
            <img class="main-logo" src="<%= PP %>images/logos/myocortex_logo_white.svg" alt="MYOCORTEX full logo">
        </a>
    </div>

    <section class="nfl-combine-pro-day top">
        <div class="filter"></div>
        <div class="textbox">
            <h1 class="title large">NFL Combine | <span class="pro-day">Pro Day</span></h1>
            <h1 class="title small">NFL Combine <span class="pro-day">Pro Day</span></h1>
            <p class="subtitle">8-week training program</p>
            <p class="subtitle date">Jan. 2 - Feb. 27</p>
        </div>
        <a href="#trent-saunders" class="down-arrow"><i aria-hidden="true" class="fa fa-angle-down"></i></a>
    </section>

    <section class="nfl-combine-pro-day trent-saunders" id="trent-saunders">
        <div class="split-2">
            <div class="split-box">
                <h3>Trent Saunders, OL</h3>
                <div class="quote">
                    <p>The experience at MYOCROTEX is top-of-line. They target muscles in the most interactive way with isolation and muscle technique exercises which transfer to real power instead of compensated power, allowing max performance. The only way to describe MYOCORTEX is that it is a game changer.</p>
                </div>
            </div>
            <div class="split-box">
                <img src="<%= PP %>images/people/trent-saunders.jpg" alt="Trent Saunders">
            </div>
        </div>
    </section>

    <section class="nfl-combine-pro-day path-to-the-draft">
        <div class="textbox">
            <h3>Path to the Draft</h3>
            <p>At MYOCORTEX, we have developed a proprietary regeneration phase in order to provide specific athlete-defined training programs. We hold ourselves accountable for every rep by checking our work before and after every session to ensure our athletes are progressing.</p>
            <p>Our goal is to build resiliency and durability while improving speed, strength, agility, explosive power and endurance.</p>
        </div>
        <img class="footballers appear delay-600" src="<%= PP %>images/people/footballers.png" alt="footballers">
    </section>

    <section class="nfl-combine-pro-day medical">
        <img src="<%= PP %>images/people/kneeling-stretch.png" alt="kneeling-stretch" class="kneeling-stretch">
        <h3>Medical</h3>
        <div class="textbox">
            <ul>
                <li>Concierge Physical Therapy</li>
                <li>Chiropractic Therapy</li>
                <li>Muscle Activation Techniques</li>
                <li>Massage Therapy</li>
                <li>Cupping</li>
                <li>Kinesio-tapping</li>
                <li>Myofascial Release</li>
                <li>Acupuncture</li>
            </ul>
            <ul>
                <li>Dry Needling</li>
                <li>TCM Acupuncture</li>
                <li>Ultrasound</li>
                <li>Low-energy Shockwave</li>
                <li>PRP</li>
                <li>Adipose Stem Cells</li>
                <li>Adipose Bone Marrow Stem Cells</li>
                <li>Neurofunctional Electric and IV Therapy</li>
            </ul>
        </div>
    </section>

    <section class="nfl-combine-pro-day wonderlic">
        <h3>Wonderlic Test Interview Training Preparation</h3>
        <p>By working with our in-house Sports Psychologist, each athlete will get insight into the test with test-taking strategies will become prepared for team and media interviews.</p>
    </section>

    <section class="nfl-combine-pro-day dedrick-mackey">
        <div class="textbox">
            <h3>Dedrick Mackey, DB Purdue University</h3>
            <p>"When I first started training at MCX, they immediately used MAT to address my imbalances that were causing my hamstring to be very tight. Rob developed my strength the right way and I never felt more mobile and strong, all while improving my footwork."</p>
            <p>"They taught me how training smarter, not harder, is best and that has carried on to my success on the field. I look forward to working with them during my school breaks in the future."</p>
        </div>
    </section>

    <section class="nfl-combine-pro-day nutrition-support">
        <img class="vertical" src="<%= PP %>images/backgrounds/vegetables-vertical.jpg" alt="vegetables">
        <img class="horizontal" src="<%= PP %>images/backgrounds/vegetables-horizontal.jpg" alt="vegetables">
        <div class="textbox">
            <h3>Nutrition Support</h3>
            <p>Every day, <b>LUSH</b> will provide athletes with meals comprised of freshly cooked organic food chosen to maximize muscle growth, fuel workouts, and decrease inflammation. Decreased inflammation accelerates the recovery process, which is why athletes will also receive our propriety recovery drink after every workout.</p>
            <p>Our protein shakes and performance supplements are powered by <b>ISAGENIX</b> who use dairy from grass-fed cows in New Zealand, free from banned substances tested by informed sport.</p>
        </div>
    </section>

    <section class="nfl-combine-pro-day marlin-brooks">
        <div class="filter"></div>
        <img src="<%= PP %>images/people/ohio-22.jpeg" alt="Marlin Brooks Ohio University Football">
        <div class="textbox">
            <h3>Marlin Brooks, DB Ohio University</h3>
            <p>"I absolutely love working with MYOCORTEX. Their process has aided my technique and elevated my game to another level throughout high school and into prepping me for college. Ever time I come home for break it is my priority to get into their facility to get my body worked on and to improve my skill."</p>
        </div>
    </section>

    <section class="nfl-combine-pro-day training">
        <span class="training-title">Take Your Training To The Next Level</span>
        <div class="split-3">
            <div class="split-box">
                <div class="textbox">
                    <h3>Speed Training</h3>
                    <p>We develop speed by coaching all phases of the running cycle. Filming running mechanics allows us make the changes necessary to optimize each athlete's abilities. We ensure ensure power output and transition efficiency by studying positioning and weight transfer.</p>
                </div>
            </div>
            <div class="split-box">
                <div class="textbox">
                    <h3>Power Training</h3>
                    <p>Developing a solid foundation of strength is vital to improving power. We do this by utilizing specific machines that train athletes to produce maximum power and by applying plyometric progressions.</p>
                </div>
            </div>
            <div class="split-box">
                <div class="textbox">
                    <h3>Position-specific Training</h3>
                    <p>Strength training in the weight room transfer over to all aspects of positional drills. Each athlete will master their positional drills by practicing movement analysis every week until perfection is met.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="nfl-combine-pro-day mike-montero">
        <div class="filter"></div>
        <img src="<%= PP %>images/people/mike-montero.jpg" alt="Mike Montero OL AAF">
        <div class="textbox">
            <h3>Mike Montero, OL AAF</h3>
            <p>"My experience with MYOCORTEX has been only the best. I came in with muscle imbalances, but through MAT and a focus on muscle isolation, I have not only become stronger and faster, but also a stronger defensive lineman. I highly recommend MYOCORTEX if you want to step your game up to the next level."</p>
        </div>
    </section>

    <section class="nfl-combine-pro-day lodging-and-transportation">
        <div class="split-2">
            <div class="split-box">
                <img src="<%= PP %>images/gibson-park.jpg" alt="Gibson Park">
            </div>
            <div class="split-box">
                <h3>Lodging and Transportation</h3>
                <p>We have contracted a a family-owned and -operated habitat residence condo-hotel for our 8-week program located just a few steps away from Miami's renown financial center, Brickell Area, and the Miami metro.</p>
                <p>As a courtesy, they will provide the athletes with transportation to and from the training facility on all training days.</p>
            </div>
        </div>
    </section>

    <section class="nfl-combine-pro-day support-at-indy">
        <h3 class="main-title">Support at Indy | Pro Day</h3>
        <p class="subtitle">Preparation is everything. Our staff will travel with the athletes to ensure they have proper nutrient timing, are neurologically prepared, and to reinforce techniques practiced throughout our training period. (March 2-5, 2019)</p>
        <div class="split-4">
            <div class="split-box">
                <h4>Friday</h4>
                <ul>
                    <li>Running Backs</li>
                    <li>Offensive Line</li>
                    <li>Safety</li>
                </ul>
            </div>
            <div class="split-box">
                <h4>Saturday</h4>
                <ul>
                    <li>Quarter Back</li>
                    <li>Wide Receiver</li>
                    <li>Tight End</li>
                </ul>
            </div>
            <div class="split-box">
                <h4>Sunday</h4>
                <ul>
                    <li>Defensive Line</li>
                    <li>Linebacker</li>
                </ul>
            </div>
            <div class="split-box">
                <h4>Monday</h4>
                <ul>
                    <li>Defensive Back</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="nfl-combine-pro-day closing-statement">
        <h3>Closing Statement</h3>
        <p>We want to take this opportunity to thank you for considering MCX to coach your athlete. Our process is like no other company out there in the market. The athletes' physical and mental health is our number one priority to building a long-lasting career.</p>
        <p>Our program is limited to small amount of athletes in order to provide individual attention and superior quality. Accountability is everything!</p>
    </section>

    <section class="nfl-combine-pro-day cta">
        <div class="filter"></div>
        <div class="text">
            <h4 class="appear">NFL Combine | Pro Day</h4>
            <a href="<%= PP %>sign-up" class="btn appear sign-up-btn">sign up</a>
            <img src="<%= PP %>images/logos/mcx-contrast-dark.png" class="logo" />
        </div>
    </section>

    <%- include(`${partials}/footer`, {classNames: ''}); -%>
    <%- include(`${partials}/bottom`); -%>
</body>
</html>
