<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`, {pageTitle: 'The People\'s Combine | Summer 2020'}); -%>
<body>
  <%- include(`${partials}/menu`); -%>

  <div class="peoples-combine" id="main-logo-container">
    <a href="<%= PP %>/">
      <img class="main-logo" src="<%= PP %>/images/logos/myocortex_logo_white.svg" alt="MYOCORTEX full logo">
    </a>
  </div>

  <section class="peoples-combine top">
    <div class="filter"></div>
    <img class="mcx-logo" src="<%= PP %>/images/logos/mcx-dark-gray.png" alt="MCX White logo">
    <div class="textbox">
      <p class="subtitle">Miami's only competitive sports program</p>
      <h1 class="title large">The People's Combine</h1>
      <h1 class="title small">The People's Combine</h1>
      <p class="subtitle date">Summer 2020</p>
    </div>
    <a href="#program-content" class="down-arrow"><i class="fas fa-angle-down"></i></a>
  </section>

  <section class="peoples-combine program-content" id="program-content">
    <h3 class="large-heading">How do you stack up?</h3>
    <p style="max-width: 600px;">Ignite your inner-athlete and train like a pro. Our
      competitive sports performance program includes 2-3
      sessions per week and 2 laser-timed NFL, NBA,
      MLB outdoor workouts per month aka <strong class="caps-bold">JUDGEMENT DAY</strong>. Your performance
      metrics will compete against your favorite pro athletes
      and other People’s Combine peers. You are guaranteed
      to lose body fat, build muscle, increase strength and
      power.
    </p>
    <br>
    <p>Our world-class system includes:</p>
    <ul>
      <li>8-12 sessions per month</li>
      <li>6 laser-timed events per month</li>
      <li>2 strength coaches per session</li>
      <li>Bio Individualized Nutrition</li>
      <li>Muscle Imbalance Tune-ups</li>
      <li>Discounted Thorne Research Supplements</li>
      <li>Accountability Coaching</li>
      <li>And More</li>
    </ul>
    <br>
    <h4 style="margin-bottom: 0;">How will you stack up?</h4>
  </section>

  <section class="peoples-combine event-details">
    <h3>Event Details</h3>
    <p style="font-size: 22px;">Our laser-timed events will consist of drills from the NFL, NBA, and MLB.</p>
    <ul>
      <li><strong class="caps-bold">The bench press test</strong>. It will consist of two classes: 135lb and 225lb.</li>
      <li><strong class="caps-bold">40 yard dash</strong>. Our lower body workouts will consist of sprint mechanics and strength to improve speed.</li>
      <li><strong class="caps-bold">3 Cone Drill</strong> tests agility, power, and quickness</li>
      <li><strong class="caps-bold">The shuttle</strong> will test lateral agility, power and your ability to change directions as fast as possible</li>
      <li><strong class="caps-bold">NBA Lane agility</strong> tests agility and quickness in all directions</li>
      <li><strong class="caps-bold">Vertical jump</strong> will test your vertical power</li>
      <li><strong class="caps-bold">Broad jump</strong> will test horizontal power and you must land on both feet without falling</li>
      <li><strong class="caps-bold">MLB 60 yard dash</strong></li>
      <li>Plus Many More</li>
    </ul>
  </section>

  <section class="peoples-combine services">
    <h3>Description of Services</h3>
    <p>Services in addition to training:</p>
    <ul style="max-width: 600px;">
      <li>
        <strong class="caps-bold">Accountability Coaching</strong> (1 call per week; 4 calls/month)
      </li>
      <li>
        <strong class="caps-bold">Meal Plan:</strong> provided to achieve goal of weight loss, maintenance, or weight gain.
      </li>
      <li>
        <strong class="caps-bold">Grocery List</strong> (PDF) This is an easy to follow list that will take the guess work out of grocery shopping
      </li>
      <li>
        <strong class="caps-bold">Styku/Body metrics</strong> is the most accurate way of measuring body composition and circumferences using infrared
        lights
      </li>
      <li>
        <strong class="caps-bold">Biomechanical Tune-up</strong> infrared Muscle Activation Techniques is the world's most effective way of
        addressing muscular imbalances and weakness to improve strength, recovery, mobility and decrease aches and
        pains. Just ask Peyton Manning!
      </li>
      <li>
        <strong class="caps-bold">Discounted Thorne Research Products</strong>. Thorne leads the world in quality control and is the nutrition provider
        for UFC and USA Olympic teams.
      </li>
      <li>
        <strong class="caps-bold">Nutrition coaching call</strong> is a detailed consultation discussing individualized details of your meal plan and
        answering questions or concerns to ensure we are reaching your goals
      </li>
    </ul>
  </section>

  <section class="peoples-combine closing-statement">
    <h3>The path to greatness begins here.</h3>
    <h3>Space is limited.</h3>
  </section>

  <section class="peoples-combine cta">
    <div class="filter"></div>
    <div class="text">
      <p style="margin: 0;">To tour the training facility, click "Learn More" below</p>
      <h4 class="appear">The People's Combine</h4>
      <a href="<%= PP %>/sign-up" class="btn appear sign-up-btn">Learn More</a>
      <img src="<%= PP %>/images/logos/mcx-contrast-dark.png" class="logo" />
    </div>
  </section>

  <%- include(`${partials}/footer`, {classNames: ''}); -%>
  <%- include(`${partials}/scripts`); -%>
</body>
</html>
