<!DOCTYPE html>
<html lang="en">
<%- include(`${partials}/head`, {pageTitle: 'Courtney Paige Alvarez'}); -%>
<body>
    <%- include(`${partials}/menu`); -%>

    <div class="courtney" id="main-logo-container">
        <a href="<%= PP %>">
            <img class="main-logo" src="<%= PP %>images/logos/myocortex_logo_black.svg" alt="MYOCORTEX full logo">
        </a>
    </div>

    <section class="bio">
        <div class="container">
            <div class="image-and-name"><img src="<%= PP %>images/people/courtney_headshot.jpg" alt="Courtney Paige Alvarez" />
                <h2 class="name">Courtney Paige Alvarez</h2>
            </div>
            <div class="bio-text">
                <p>Tampa native Courtney Paige Alvarez began studying the Pilates Method at University of South Florida while acquiring a Dance Studies degree in 1997 and at the age of 22 founded Designing Bodies, Inc., a pre-eminent Pilates Studio in Tampa, FL.  She is a PMA certified instructor and holds certifications from Physical Mind Institute, Polestar Education and Core Dynamics. To further enhance her training and the ability to serve her clients, Courtney completed her education in Resistant Training Specialist and is a certified Muscle Activation Technique Practioner.</p>
                <p>She has been involved in the health and fitness industry for more than 18 years and during that time she has made a positive healthy impact on many people’s lives.  Her clientele has ranged from elite professional athletes to individuals from every walk of life, including those with minor injuries needing assistance with rehabilitation. Courtney is well known for developing and creating an effective, innovative and functional training program that increases performance levels in all life and work activities.</p>
            </div>
        </div>
    </section>

    <%- include(`${partials}/footer`, {classNames: ''}); -%>
    <%- include(`${partials}/bottom`); -%>
</body>
</html>
